<div class="container">
    <h1><%= title %>
        <small>
            当前环境:<label class="label label-default label-primary"><%= blog.ENV %></label>
            当前版本:<label class="label label-default label-info"><%= blog.VERSION %></label>
        </small>
    </h1>
</div>
<table class="table table-bordered table-hover">
    <thead>
    <tr class="bg-primary">
        <th>module</th>
        <th>title</th>
        <th>url</th>
        <th>state</th>
        <th>createdAt</th>
        <th>updatedAt</th>
        <th>instruction</th>
    </tr>
    </thead>
    <tbody>
    <% for(var h = 0;h < history.length;h++){
        var his = history[h];
    %>
    <tr class="<%= getStateClass(his['state']) %>">
        <td><%= his['module'] %></td>
        <td><%= his['title'] %></td>
        <td><%= his['url'] || '--' %></td>
        <td><%= his['state'] %></td>
        <td><%= his['createdAt'] %></td>
        <td><%= his['updatedAt'] %></td>
        <td><%= his['instruction'] %></td>
    </tr>
    <% }
    function getStateClass(state) {
        switch (state) {
            case 'planing':
                return 'warning';
            case 'coding':
                return 'info';
            case 'done':
                return 'success';
        }
    } %>
    </tbody>
</table>