<%- include ../_base/head.ejs %>
<%- include ../_base/css.ejs %>
<link rel="stylesheet" href="/stylesheets/css/web/blog.css">
<%- include ../_base/container.ejs %>
<%- include ../_base/header.ejs %>
<div class="app-context container-fluid">
    <div class="container">
        <%- include info.ejs %>
    </div>
</div>
<%- include ../_base/javascript.ejs %>
<%- include ../_base/footer.ejs %>