<%- include ../_base/head.ejs %>
<%- include ../_base/css.ejs %>
<link rel="stylesheet" href="/stylesheets/css/web/home.web.css">
<%- include ../_base/container.ejs %>
<%- include ../_base/header.ejs %>
<div class="app-context container-fluid">
    <div class="container">
        <h1>blog.sky91.cn</h1>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <%- include ../_base/_hhc.plugin.ejs %>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="mg-0">网站信息</h4>
                </div>
                <div class="panel-body">
                    <ol>
                        <li><a href="https://github.com/occultskyrong/blog">GitHub地址</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="mg-0">开坑记录</h3>
                </div>
                <div class="panel-body pd-0">
                    <%- table %>
                </div>
            </div>
        </div>
        <%- include ./module/doc.ejs %>
        <%- include ./module/demo.ejs %>
    </div>
</div>
<%- include ../_base/javascript.ejs %>
<%- include ../_base/footer.ejs %>