<%- include ../_base/head.ejs %>
<%- include ../_base/css.ejs %>
<link rel="stylesheet" href="/stylesheets/css/web/home.web.css">
<%- include ../_base/container.ejs %>
<%- include ../_base/header.ejs %>
<div class="app-context container-fluid">
    <div class="container">
        <h1>blog.sky91.cn</h1>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <%- include ../_base/_clock.canvas.ejs %>
            <div class="git-icon">
                <a href="//github.com/occultskyrong/blog" target="_blank">
                    <i class="icon-git"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="mg-0">开坑记录</h3>
                </div>
                <div class="panel-body pd-0">
                    <%- history %>
                </div>
            </div>
        </div>
        <%- include ./module/doc.ejs %>
        <%- include ./module/demo.ejs %>
    </div>
</div>
<%- include ../_base/javascript.ejs %>
<script src="/src/home.blog.min.js"></script>
<%- include ../_base/footer.ejs %>