<%- include ../../_base/head.ejs %>
<%- include ../../_base/css.ejs %>
<link rel="stylesheet" href="/stylesheets/css/web/blog.css">
<%- include ../../_base/container.ejs %>
<%- include ../../_base/header.ejs %>
<div class="app-context container-fluid">
    <div class="container">
        <h1><%= title %><small>Powered By <a href="<%=source%>"><%=source%></a></small></h1>
        <pre><%- code %></pre>
    </div>
</div>
<%- include ../../_base/javascript.ejs %>
<%- include ../../_base/footer.ejs %>