<%- include ../../_base/head.ejs %>
<%- include ../../_base/css.ejs %>
<link rel="stylesheet" href="/stylesheets/css/web/blog.css">
<%- include ../../_base/container.ejs %>
<%- include ../../_base/header.ejs %>
<div class="app-context container-fluid">
    <div class="container">
        <h1><%= title %>
            <small>
                <a class="icon-git" target="_blank" href="<%= blog._GIT_HUB_URL + source %>"></a>
                <span class="ml-1e">
                    Powered By<a target="_blank" href="<%= source %>"><%= source %></a>
                </span>
            </small>
        </h1>
        <hr class="container-top-pr">
        <%- markdown %>
        <hr class="container-bottom-pr">
    </div>
</div>
<%- include ../../_base/javascript.ejs %>
<%- include ../../_base/footer.ejs %>